body {
    color: slateblue;
}
.OQE {
    border:cadetblue solid; 1px; 
    padding-left: 45px;
    padding-right: 300px;
}
#confira {
    padding-left: 970px;
}
.titulos {
    color: black;
    padding-left: 70px;
}
#titulo {
    padding-left: 70px;
    color: black
}